apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "dave-adapter.fullname" . }}
  labels:
    {{- include "dave-adapter.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "dave-adapter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "dave-adapter.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: SERVER_SERVLET_CONTEXT_PATH
              value: {{ .Values.app.context_path | quote }}
            - name: SERVER_PORT
              value: {{ .Values.service.port | quote }}
            - name: SPRING_DATASOURCE_URL
              value: {{ .Values.analytics_db.url | quote }}
            - name: SPRING_DATASOURCE_USERNAME
              value: {{ .Values.analytics_db.username | quote }}
            - name: SPRING_DATASOURCE_PASSWORD
              value: {{ .Values.analytics_db.password | quote }}
            {{- if .Values.app.auth.enabled }}
            - name: APP_AUTH_TOKENURL
              value: {{ .Values.app.auth.tokenurl }}
            - name: APP_AUTH_CLIENTID
              value: {{ .Values.app.auth.clientid }}
            - name: APP_AUTH_USERNAME
              value: {{ .Values.app.auth.username }}
            - name: APP_AUTH_PASSWORD
              value: {{ .Values.app.auth.password }}
            {{- end }}
            - name: APP_DAVE_URL
              value: {{ .Values.app.dave_url }}
            - name: APP_MAPPING
              value: "/app/config/{{ .Values.app.mapping.file }}"
            {{- with .Values.extraEnv }}
            {{- tpl . $ | nindent 12 }}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: {{ .Values.app.context_path }}/monitoring/health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: {{ .Values.app.context_path }}/monitoring/health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 5
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: mapping-config
              mountPath: /app/config
              readOnly: true
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: mapping-config
          configMap:
            name: {{ include "dave-adapter.fullname" . }}-mapping
